{{#each model as |image|}}
  <li class="image-thumbnail">
    <h2>
      {{#link-to 'image.show' pin}}
        {{image.title}}
      {{/link-to}}
      <div>
        <img src="{{image.url}}" alt="" />
        <a href="{{image.url}}">{{image.title}}</a>
      </div>
    </h2>
  </li>
{{/each}}


{{link-to "Create" 'image.create'}}
